include ./component/head-boilerplate.pug


doctype html
html
  +headOne
  body
    .spa-navigation
      a.spa-nav.active(href="#") Web
      a.spa-nav(href="#") Etc
      a.spa-nav(href="#") Music
      a.spa-nav(href="#") Blog
