.image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.image-subcontainer {

    @media screen and (min-width: 1200px) {
	width: 350px;
	height: 350px;
    }

    @media screen and (max-width: 1199px) {
	width: 350px;
	height: 350px;
    }

    margin-top: .5rem;
    margin-bottom: .5rem;

    // Realistically, this is to be placed in as a
    // model url but we have to make sure that it is
    // not prone to XSS.
    background-image: url(../img/stonewater1.jpg);
    background-size: cover;

    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: .45s;
    overflow: hidden;
    padding: 50px;

    // Material inspired shadow
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    &:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	padding: 0px;
    }

    &:hover .image-overlay {
	opacity: 1;
    }
}

.image-overlay {
    display: flex;
    align-items: center;
    background: rgba(53, 92, 126, 0.3);
    padding: 0px;
    text-align: center;
    opacity: 0;
    height: 100%;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: opacity .45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: opacity .45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.image-icon {
    margin-left: 50%;
    transform: translateX(-50%) scale(1);
    font-size: 60px;
    transition-duration: .15s;

    &:hover {
	transform: translateX(-50%) scale(1.25);
    }

    a {
	transition-duration: .55s;
	color: rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.5);
	padding: 25px 30px 25px 35px ;

	&:hover {
	    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	    color: rgba(255, 255, 255, 1);
	    background: rgba(0, 0, 0, 1);
	}
    }
}
