include ./component/head-boilerplate.pug
include ./component/formatted-intro.pug


doctype html
html
  +headOne
  body
    +formattedIntro("Web Development", "text-p5", 'Various websites that I have created and/or designed. Some of these are in conjunction with my workplace, Blue Bike Web Design, some are hobby or practice websites, and some have been made for school.', "", "fa-laptop")
    +formattedIntro("Assorted Programs", "text-p5", 'Various interesting personal and academic projects I have gone about developing, ranging from mainstream scripting languages like Python to state of the art languages like Rust.', "", "fa-desktop")
    +formattedIntro("Music", "text-p5", 'Music that I have made or remixed: Nothing professional.', "", "fa-music")
    +formattedIntro("Blog", "text-p5", 'A blog that I maintain to organize my thoughts and practice writing occassionally: Often derived from my Org mode files.', "", "fa-list")
