include ./component/head-boilerplate.pug
include ./component/formatted-intro.pug


doctype html
html
  +headOne
  body
    +formattedIntro("Web Development", "text-p5", 'Various websites that I have created and/or designed. Some of these are in conjunction with my workplace, Blue Bike Web Design, some are hobby or practice websites, and some have been made for school.', "")
