include ./component/head-boilerplate.pug
include ./component/music-entry.pug


doctype html
html
  +headOne
  body
    +musicEntry("Boards Of Canada - Heard Through The Telegraph Lines (Austin's Telegraph Remix)", "Downtempo/Chill", "February, 2015")
