.spa-navigation {
  position: fixed;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.8s;
  height: 50px; }
  .spa-navigation a {
    color: inherit; }
  .spa-navigation .active {
    font-weight: bold; }
  @media screen and (min-width: 981px) {
    .spa-navigation {
      width: 25%;
      left: 37.5%; } }
  @media screen and (max-width: 980px) {
    .spa-navigation {
      background: black;
      color: white !important;
      width: 100%; } }
  .spa-navigation:hover {
    background: black; }
    @media screen and (min-width: 981px) {
      .spa-navigation:hover {
        height: 80px; }
        .spa-navigation:hover * {
          padding-top: 35px !important;
          padding-bottom: 35px !important;
          transition-duration: 0.8s;
          color: white; } }
  .spa-navigation * {
    color: black; }
    .spa-navigation *:hover, .spa-navigation *:active, .spa-navigation *:selected {
      color: black !important;
      background: white !important; }

.spa-nav {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  width: 25%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none !important;
  transition-duration: 0.8s;
  text-align: center; }
  .spa-nav:hover {
    background: white !important;
    color: black !important; }
