<div class="spa-navigation">
  {{#link-to 'index' class="spa-nav"}}
    Me
  {{/link-to}}
  {{#link-to 'web-showcase' class="spa-nav"}}
    Web
  {{/link-to}}
  {{#link-to 'etc-showcase' class="spa-nav"}}
    Etc
  {{/link-to}}
  {{#link-to 'music-showcase' class="spa-nav"}}
    Music
  {{/link-to}}
  {{#link-to 'blog' class="spa-nav"}}
    Blog
  {{/link-to}}
</div>
{{ outlet }}