<div class="page-description"><i class="fa fa-list fa-5x text-p3" aria-hidden="true"></i>
      <h1 class="page-title-header text-p5">Blog</h1>
      <h5 class="page-title-subheader">A blog that I maintain to organize my thoughts and practice writing occassionally: Often derived from my Org mode files.</h5>
      <hr class="material-break"/>
</div>
