<div class="page-description"><i class="fa fa-desktop fa-5x text-p3" aria-hidden="true"></i>
      <h1 class="page-title-header text-p5">Assorted Programs</h1>
      <h5 class="page-title-subheader">Various interesting personal and academic projects I have gone about developing, ranging from mainstream scripting languages like Python to state of the art languages like Rust.</h5>
      <hr class="material-break"/>
</div>
