<div class="spa-centered-subcontainer">
     {{title-header attributes=model.personAttributes}} 
     <div class="card-array spa-three-quarters">
       {{#each model.displayCards as |card|}}
         {{#display-card card.path title=card.title}}{{card.content}}{{/display-card}}
       {{/each}}
      </div>
    </div>
{{outlet}}

