<div class="page-description"><i class="fa fa-music fa-5x text-p3" aria-hidden="true"></i>
      <h1 class="page-title-header text-p5">Music</h1>
      <h5 class="page-title-subheader">Music that I have made or remixed: Nothing professional.</h5>
      <hr class="material-break"/>
</div>
{{#music-entry}}
  {{soundcloud-player}}
{{/music-entry}}
 
{{music-entry}}
{{music-entry}}
{{music-entry}}

