<div class="page-description"><i class="fa fa-music fa-5x text-p3" aria-hidden="true"></i>
      <h1 class="page-title-header text-p5">Music</h1>
      <h5 class="page-title-subheader">Music that I have made or remixed: Nothing professional.</h5>
      <hr class="material-break"/>
</div>

{{#liquid-spacer class="cool-scroll" growWidth=false growDuration=550}}
{{#each model as |entry|}}
  {{#music-entry activeReference=currentToggledTrack title=entry.title genre=entry.genre date=entry.date imgSource=entry.img ident=entry.ident action="notifyController"}}
  {{/music-entry}} 
{{/each}}
{{/liquid-spacer}}

{{#infinity-loader infinityModel=model destroyOnInfinity=true}}
  <div class="arrow-container">
    <i class="fa fa-arrow-down fa-1x" artia-hidden="true"></i>
  </div>
{{/infinity-loader}}
