include ./component/head-boilerplate.pug
include ./component/web-entry.pug


doctype html
html
  +headOne
  body
    +webEntry("Stonewater Subdivision", "Homeowners Association", "August, 2016")
    +webEntry("Stonewater Subdivision", "Homeowners Association", "August, 2016")
    +webEntry("Stonewater Subdivision", "Homeowners Association", "August, 2016")
    +webEntry("Stonewater Subdivision", "Homeowners Association", "August, 2016")
