<div class="image-container">
    <div class="image-subcontainer" style="background-image: url({{imgSrc}})">
        <div class="image-overlay"><span {{action 'sendUp'}} class="image-icon"><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></span></div>
    </div>
</div>
