body {
  margin: 0px;
}

.spa-navigation {
  position: fixed;
  top: 0px;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  height: 50px; }
  .spa-navigation a {
    color: inherit; }
  .spa-navigation .active {
    font-weight: bold; }
  @media screen and (min-width: 981px) {
    .spa-navigation {
      background: #fbd4c5;
      color: #355C7D;
      width: 25%;
      left: 37.5%; } }
  @media screen and (max-width: 980px) {
    .spa-navigation {
      background: #fbd4c5;
      color: #355C7D !important;
      width: 100%; } }
  .spa-navigation:hover {
    background: #F8B195; }
    @media screen and (min-width: 981px) {
      .spa-navigation:hover {
	  height: 80px;
      }
        .spa-navigation:hover * {
          padding-top: 24px !important;
	  color: black;
          padding-bottom: 24px !important;
          transition: .5s cubic-bezier(0.25, 0.1, 0.25, 1);
           } }

.spa-nav {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  width: 25%;
  text-align: center;
  text-decoration: none !important;
  transition: .5s cubic-bezier(0.25, 0.1, 0.25, 1);
  text-align: center; }
  .spa-nav:hover {
    background: #7C5B7B !important;
    color: white !important; }
@media screen and (min-width: 768px) {
  .spa-nav:hover {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  .spa-nav:hover {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.spa-nav * {
  text-decoration: none !important;
  width: 100%;
  height: 100%;
}

.spa-nav *:hover {
  text-decoration: none !important;
  color: black;
}

.full-height {
  width: 100%;
}
.text-p1 {
  color: #F8B195; }

.bg-p1 {
  background: #F8B195; }

.bg-p1l {
  background: white; }

.text-p1l {
  color: #fbd4c5; }

.text-p2 {
  color: #F67280; }

.bg-p2 {
  background: #F67280; }

.bg-p2l {
  background: #f9a2ab; }

.text-p2l {
  color: #f9a2ab; }

.text-p3 {
  color: #C06C84; }

.bg-p3 {
  background: #C06C84; }

.bg-p3l {
  background: #cf90a2; }

.text-p3l {
  color: #cf90a2; }

.text-p4 {
  color: #6C5B7B; }

.external-link {
    transition-duration: .2s;
}
.text-p4 .external-link:hover {
  color: #C06C84;
}

.bg-p4 {
  background: #6C5B7B; }

.bg-p4l {
  background: #867297; }

.text-p4l {
  color: #867297; }

.text-p5 {
  color: #355C7D; }

.bg-p5 {
  background: #355C7D; }

.bg-p5l {
  background: #4476a1; }

.text-p5l {
  color: #4476a1; }

a {
  text-decoration: none !important; }

body {
  background: #fdfdfd !important; }

.display-card {
  background: #fafafa;
  text-align: center;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition-duration: .25s;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (min-width: 768px) {
    .display-card {
      width: 33.333%; } }
  .display-card:link, .display-card:visited, .display-card:hover, .display-card:active {
    text-decoration: none; }
  .display-card:hover {
    cursor: pointer;
    background: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .display-card:hover h1, .display-card:hover h2, .display-card:hover h3, .display-card:hover h4, .display-card:hover h5 {
      color: #5d90bb; }
  .display-card h1, .display-card h2, .display-card h3, .display-card h4, .display-card h5 {
    transition-duration: .25s;
    font-size: 1.8em;
    letter-spacing: .07em;
    font-family: 'Playfair Display', serif;
    color: #2d4f6b;
    font-weight: bold; }
  .display-card p {
    color: black;
    font-family: 'Raleway', sans-serif; }

.title-description {
  text-align: center; }
  @media screen and (min-width: 768px) {
      .title-description {
      margin-left: 25%;
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .title-description {
      width: 95%; } }



.photo-header {
    width: 15%; }
      
.title-header {
  margin-top: 100px;
  font-weight: 800;
  letter-spacing: .05em;
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif; }

.title-subheader {
  margin-top: 1rem;
  font-size: 1.75rem;
  font-family: 'Raleway', sans-serif; }

.spa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .spa-container {
      min-width: 100vw !important;
      min-height: 100vh !important; } }
  @media screen and (max-width: 767px) {
    .spa-container {
      margin-top: 4rem; } }

.spa-centered-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.card-array {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 991px) {
    .card-array {
      width: 50%; } }
  @media screen and (max-width: 990px) {
    .card-array {
      width: 75%; } }

.page-description {
  margin-top: 7rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .page-description {
      margin-left: 25%;
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .page-description {
      width: 95%;
      margin-left: 2.5%; } }

.material-break {
  height: 15px;
  border: 0;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  margin-top: 2rem; }

.page-title-header {
  font-weight: 800;
  letter-spacing: .04em;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Playfair Display', serif; }
  @media screen and (min-width: 768px) {
    .page-title-header {
      font-size: 3rem; } }

.page-title-subheader {
  font-weight: 300;
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif; }
  @media screen and (min-width: 768px) {
    .page-title-subheader {
      font-size: 1.5rem; } }

// Song Entry Stylization
.song-entry * {
    text-align: center;
}

.song-entry, h1 {
    font-size: 1.5em;
}

* {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.full-width {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .flex-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }
}
.left-half, .right-half {
    flex: 1 0 0;
    margin: 0px !important;
}

.song-entry {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  text-align: center; }
  @media screen and (min-width: 991px) {
    .song-entry {
      margin-left: 25%;
      width: 50%; } }
  @media screen and (max-width: 990px) {
    .song-entry {
      width: 95%;
      margin-left: 2.5%; } }
  .song-entry .left-half, .song-entry .right-half {
      padding-bottom: 2.5%; }
    @media screen and (min-width: 768px) {
      .song-entry .left-half, .song-entry .right-half {
        width: 45%; } }
    @media screen and (max-width: 767px) {
      .song-entry .left-half, .song-entry .right-half {
        width: 100%; } }
  .song-entry hr {
    width: 100%; }
  .song-entry .song-entry-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #C06C84;
    transition-duration: .2s; }
    .song-entry .song-entry-title:hover {
      color: #ae4b67; }
  .song-entry .song-entry-genre {
    font-family: 'Raleway', sans-serif;
    margin-top: .75rem;
    margin-bottom: .5rem;
    letter-spacing: .05em;
    font-weight: 600;
    color: #264259; }
  .song-entry .song-entry-date {
    font-weight: 500;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: #355C7D; }
  .song-entry .song-entry-box {
    height: 450px;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: .45s;
    overflow: hidden; }
    .song-entry .song-entry-box:hover {
      padding: 0px; }
    .song-entry .song-entry-box:hover .song-entry-overlay {
      opacity: 1; }
  .song-entry .song-entry-overlay {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    opacity: 0;
    height: 100%;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .song-entry .song-entry-icon {
    position: relative;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px; }
    .song-entry .song-entry-icon a {
      transition-duration: .15s;
      color: rgba(255, 255, 255, 0.5);
      background: rgba(0, 0, 0, 0.5);
      padding: 25px 30px 25px 35px;
      border-radius: 50%; }
      .song-entry .song-entry-icon a:hover {
        color: white;
        background: black; }
  .song-entry .song-entry-soundcloud {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.soundcloud-player {
    width: 100%;
  text-align: center; }
  @media screen and (min-width: 768px) {
      .soundcloud-player {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .soundcloud-player {
      width: 100%; } }

.arrow-container {
  width: 100%;}
.arrow-container i{
    transition-duration: .4s;
    color: white;
    background: black;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 1rem;
    text-align: center;}

.arrow-container i:hover {
    cursor: pointer;
    background: white;
    color: black;
}

.fa-arrow-down {
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.image-subcontainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-image: url(../assets/images/stonewater1.jpg);
  background-size: cover;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: .45s;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (min-width: 768px) {
    .image-subcontainer {
      width: 350px;
      height: 350px; } }
  @media screen and (max-width: 767px) {
    .image-subcontainer {
      width: 100%;
      height: 350px; } }
  .image-subcontainer:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  .image-subcontainer:hover .image-overlay {
    opacity: 1; }

.image-overlay {
  display: flex;
  width: 100%;
  align-items: center;
  background: rgba(53, 92, 126, 0.3);
  padding: 0px;
  text-align: center;
  opacity: 0;
  height: 100%;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.image-icon {
  margin-left: 50%;
  transform: translateX(-50%) scale(1);
  font-size: 60px;
  transition-duration: .15s; }
  .image-icon:hover {
    transform: translateX(-50%) scale(1.25); }
  .image-icon a {
    transition-duration: .55s;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 30px 25px 35px; }
    .image-icon a:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      color: white;
      background: black; }

.page-description {
  margin-top: 3rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .page-description {
      margin-left: 25%;
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .page-description {
      width: 95%;
      margin-left: 2.5%; } }

.material-break {
  height: 15px;
  border: 0;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
  margin-top: 2rem; }

.page-title-header {
  font-weight: 800;
  letter-spacing: .04em;
  font-family: 'Playfair Display', serif; }
  @media screen and (min-width: 768px) {
    .page-title-header {
      font-size: 3rem; } }

.page-title-subheader {
  margin-top: 1rem;
  font-family: 'Raleway', sans-serif; }
  @media screen and (min-width: 768px) {
    .page-title-subheader {
      font-size: 1.5rem; } }

.web-entry {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .web-entry {
      margin-left: 25%;
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .web-entry {
      width: 95%;
      margin-left: 2.5%; } }
  .web-entry hr {
    width: 100%; }
  .web-entry .centerable-half {
    width: 100%; }
  .web-entry .web-entry-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.17em;
    color: #C06C84;
    transition-duration: .2s;
    letter-spacing: .05em; }
    @media screen and (min-width: 768px) {
      .web-entry .web-entry-title {
        font-size: 1.2em; } }
    .web-entry .web-entry-title:hover {
      color: #ae4b67; }
  .web-entry .web-entry-genre {
    font-size: 1.17em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    font-weight: 600;
    margin-top: .75rem;
    color: #264259; }
  .web-entry .web-entry-date {
    font-size: 0.83em;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: #355C7D; }
